

.navbar {
  margin-bottom: 20px;
}

.carousel-caption {
  position: absolute;  top: 50%;  left: 10px;  transform: translateY(-50%);  /* Offset the vertical position for centering */
  color: white;  background-color: rgba(0, 0, 0, 0.5);  padding: 15px;  text-align: left;  
}

.contSer {
  /* Layout Properties */
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 120%;
  /* UI Properties */
  background: url("Rectangle\ 40.png") no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;

}
@media (max-width: 768px) {
  .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 1rem;
  }
}
.serh1{
/* UI Properties */
text-align: center;
font: normal normal 900 28px/34px Lato;
letter-spacing: 0px;
color: #425656;
opacity: 1;
padding: 30px;
}
.carousel-caption p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services .card-title {
  top: 711px;
  left: 873px;
  width: 100%;
  height: 90px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 75px/90px Lato;
  letter-spacing: 0px;
  color: #885ef0;
  opacity: 1;
}
.yearCard{
  width: 100%;
  height: 100%;
  color: black;
}
.services .card {
  width: 100%;
  height: 100%;
  padding: 5%;
  /* UI Properties */
  background: url("Rectangle\ 3.png");
  border-radius: 10px;
}

.services .card-subtitle {
  /* Layout Properties */
  top: 817px;
  left: 882px;
  width: 217px;
  height: 19px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 16px/18px Lato;
  letter-spacing: 0px;
  color: #425656;
  opacity: 1;
}

.services .card-text {
  top: 858px;
  left: 152px;
  /* width: 247px; */
  height: 77px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/22px Lato;
  letter-spacing: 0px;
  color: #425656;
  opacity: 1;

  
}


.faqs .card-title {

/* UI Properties */
text-align: center;
font: normal normal 900 38px/46px Lato;
letter-spacing: 0px;
color: #425656;
opacity: 1;
}

.faqs .card-text{
  text-align: center;
font: normal normal normal 16px/20px Lato;
letter-spacing: 0px;
color: #425656;


}

@media (max-width: 768px) {
  .faqs .card {
      margin-bottom: 1.5rem; /* Increase margin for smaller screens */
  }
  .faqs .card-text{
    text-align: center;
    font: normal normal normal 14px/20px Lato;
    letter-spacing: 0px;
    color: #425656;
    overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  

  }
  .faqs .card-title{
    text-align: center;
    font: normal normal 900 18px/22px Lato;
    letter-spacing: 0px;
    color: #425656;
    opacity: 1;
  }
}
.faqs .card-body{

background: url('Rectangle\ 41@2x.png') no-repeat;
background-size: cover;
border-radius: 0px 0px 10px 10px;
opacity: 1;
padding: 0%;
padding-bottom: 20px;
overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
}

.footer {
  top: 1649px;
left: -22px;
/* UI Properties */
background: url('Rectangle\ 20.png');
}
@media (max-width: 768px) {
  .footer .toHide {
      display: none;
  }
}

.compInfo{

/* UI Properties */
text-align: left;
font: normal normal bold 12px/18px Lato;
letter-spacing: 0px;
color:#425656;
padding-top: 30px;
justify-content: space-between;
flex-wrap: nowrap;
}


.list-unstyled{
  /* Layout Properties */
top: 1727px;
left: 150px;
/* UI Properties */
text-align: left;
font: normal normal normal 12px/22px Lato;
letter-spacing: 0px;
color: #425656;
}
@media (max-width: 768px) {
  .col-md-4, .col-md-8 {
    flex: 1 1 auto; /* Ensure columns take up available space */
  }
  
  .col-md-8 {
    text-align: right; /* Adjust text alignment if necessary */
  }

  .text-muted p, .text-muted a {
    font-size: 12px; /* Adjust font size to fit better */
  }
}
h4{

/* UI Properties */
text-align: left;
font: normal normal bold 14px/19px Lato;
letter-spacing: 0px;
color: #425656;
}
/* .btn btn-primary {
    background-color: #6f42c1;
} */

.d-block-w-100 {
  margin-left: auto;
  margin-right: auto;
  width: 2000px;
  height: 500px;
}

.carousel-item active {
  margin-left: auto;
  margin-right: auto;
}
.faq1,.faq2{
  padding: 0%;
  border-radius: 10px;
  opacity: 0.8;
}

.btn{
width: 160px;
height: 40px;
border-radius: 3px;
opacity: 1;
}

.btn-primary {
  opacity: 100%;
}


.btn-opaque {
  background-color: #6f42c1;
  opacity: 1; /* Ensures full opacity */
}

.headingFaq{
text-align: center;
font: normal normal 900 28px/34px Lato;
letter-spacing: 0px;
color: #425656;
opacity: 1;
padding: 25px;
}

.infoFaq{

 /* width: 881px; */
text-align: center;
font: normal normal normal 16px/22px Lato;
letter-spacing: 0px;
opacity: 1;
width: 45%;
margin-left: auto;
margin-right: auto;
}